.cardContainer {
  border-radius: 1.5625rem;
  background: #f6f6f6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding: 2rem;
  justify-items: center;
  margin-bottom: 3rem;
  width: auto;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: none;
    padding: 0;
  }
}
