.collapse-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.3125rem;
  background-color: #ff6060;
  margin-bottom: 1.88rem;
  width: 100%;

  .collapse-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    color: #fff;
    font-size: 1.5rem;
    line-height: 142.6%;
    padding: 0.7rem;
    @media screen and (max-width: 768px) {
      font-size: 0.8125rem;
    }

    .arrow {
      transition: transform 0.3s ease-in-out;
      &.open {
        transform: rotate(-180deg);
      }
    }
  }

  .collapse-content {
    background-color: #f6f6f6;
    color: #ff6060;
    font-size: 1rem;
    padding: 0rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    &.open {
      max-height: 20rem;
      padding: 1rem;
    }
    &__list {
      list-style-type: none;
      padding: 0;
    }
    &__list--li {
      margin-bottom: 8px;
    }
  }
}
