.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;

  &__previous {
    width: 2.5em;
    height: 4em;
    color: white;
    position: absolute;
    left: 5%;
    bottom: 40%;
  }

  &__next {
    width: 2.5em;
    height: 4em;
    color: white;
    position: absolute;
    right: 5%;
    bottom: 40%;
  }

  &__img {
    border-radius: 1.5625em;
    height: 26em;
    width: 100%;
    object-fit: cover;

    @media screen and (max-width: 768px) {
      height: 16em;
    }
  }

  &__counter {
    color: white;
    position: absolute;
    bottom: 2em;
    font-size: 1.125em;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
