.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  &__previous {
    width: 2.9175rem;
    height: 4.95rem;
    color: white;
    position: absolute;
    left: 6rem;
    bottom: 22rem;
  }
  &__next {
    width: 2.9175rem;
    height: 4.95rem;
    color: white;
    position: absolute;
    right: 6rem;
    bottom: 22rem;
  }
  &__img {
    border-radius: 1.5625rem;
    height: 26rem;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  &__counter {
    color: white;
    position: absolute;
    bottom: 12rem;
    font-size: 1.125rem;
  }
}
