.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  @media screen and (max-width: 768px) {
    padding-bottom: 0;
  }

  &__previous {
    width: 2.9175rem;
    height: 4.95rem;
    color: white;
    position: absolute;
    left: 6rem;
    bottom: 22rem;
    @media screen and (max-width: 768px) {
      width: 1.5rem;
      height: 1.5rem;
      left: 2rem;
      top: 14rem;
    }
  }
  &__next {
    width: 2.9175rem;
    height: 4.95rem;
    color: white;
    position: absolute;
    right: 6rem;
    bottom: 22rem;
    @media screen and (max-width: 768px) {
      width: 1.5rem;
      height: 1.5rem;
      right: 2rem;
      top: 14rem;
    }
  }
  &__img {
    border-radius: 1.5625rem;
    height: 26rem;
    width: 100%;
    object-fit: cover;
    position: relative;
    @media screen and (max-width: 768px) {
      height: 16rem;
    }
  }
  &__counter {
    color: white;
    position: absolute;
    bottom: 12rem;
    font-size: 1.125rem;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
