.header {
  padding: 2rem 0rem 2rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  @media screen and (max-width: 768px) {
    font-size: 0.75rem;
  }
  &__logo {
    width: 13.14513rem;
    height: 4.25rem;
    @media screen and (max-width: 768px) {
      width: 9.0625rem;
      height: 2.93006rem;
    }
  }
  &__nav {
    display: flex;
    gap: 3rem;
    text-align: right;
    line-height: 142.6%;
    a {
      text-decoration: none;
      color: #ff6060;
      &:hover,
      &.active {
        text-decoration-line: underline;
      }
    }
  }
}
